[data-modal-open="true"] {
  width: 250px;
  height: 250pxx;
  background-color: ;
}

*[data-inner-text]::after {
  content: attr(data-inner-text);
}

.cadr.secondary {
  background: #363636;
  color: #fff;
}
.card .card__content {
  margin: 10px 0;
}
.cadr.secondary .card__content {
  margin: 25px 0;
}
